<p>Show a list of all of the tenants along with their contract end date, and rental property name.  </p>
   <p> ~ Have link to Tenant info</p>
   <p> ~ Have link to Current Rental property</p>
    <p>~ if possible, order the list by contract end date</p>

    