    <h2>My Tenants</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Tenant Name</th>
              <th>Phone #</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <%@tenants.each do |tenant|%>
              <td><%= tenant.id %></td>
              <td><%= link_to tenant.renter, tenant_path(tenant)%></td>
              <td><%= tenant.renter_cell_phone %> </td>
              <td><%= tenant.renter_email%></td>
            </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>

    