<!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Rental Property Tracker</h1>
      <p>The indusrty leader for helping rental property owners keep track of their properties.</p>
     
    </div>
  </div>