<div class="grid-container">

<div class="grid-item">
    
    
    <h2> Payment: 

<%= @payment.amount_owed %> </h2><br>

    <strong>Property Name:</strong> <%= @payment.amount_owed %><br><br>
    <strong>Property Address:</strong> <%= @payment.amount_paid %><br><br>

    
    
</div>

<p> ADD EDIT AND DELETE BUTTONS FOR USER ONLY </p>